.footer {
  width: 100%;
  /* height: 100%; */
  /* background-color: #0c120c; */
  background-color: #1F363D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 200px;
  /* margin-bottom: 10px; */
}

.socialMedia svg {
  color: #ffffff;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .footer svg {
    font-size: 50px;
  }
}
